{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
  <h1>Meet the Creators of This Website</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Hisham</h5>
          <p class="card-text">
            Hisham is a seasoned full-stack developer with expertise in Python and JavaScript. He loves to tackle complex problems and is the brain behind the search algorithm used in Flight Locator. Hisham's work ensures users find the most efficient flight routes.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Alex</h5>
          <p class="card-text">
            Alex is a front-end wizard, specializing in creating intuitive and responsive interfaces. His design philosophy enhances the user experience of Flight Locator, making it straightforward and pleasant to navigate. Alex's attention to detail brings the application to life.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Fareed</h5>
          <p class="card-text">
            Fareed, with his knack for backend development, ensures that Flight Locator's server, database, and application logic run smoothly. His expertise in cloud services and database optimization means that Flight Locator is reliable and fast for users worldwide.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bg-primary py-5 text-white border border-secondary border-5">
  <div class="container">
    <h2 class="text-center mb-4">Why Choose Our Website?</h2>
    <div class="row">
      <div class="col-12 col-md-4 mb-4 border-end border-secondary border-3">
        <h3>Reliable Results</h3>
        <p>Our website provides accurate and up-to-date flight information, ensuring you can plan your travels with confidence.</p>
      </div>
      <div class="col-12 col-md-4 mb-4 border-end border-secondary border-3">
        <h3>Intuitive Design</h3>
        <p>The user-friendly interface makes it easy to navigate and find the information you need, saving you time and effort.</p>
      </div>
      <div class="col-12 col-md-4 mb-4">
        <h3>Personalized Experience</h3>
        <p>With features like flight favorites and customizable search options, you can tailor the experience to your unique preferences.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}